flows/autopr_main_flow.yml
id: autopr_main_flow
namespace: system.autopr
description: "Main orchestration flow for AutoPR Engine"

inputs:
  - id: run_id
    type: STRING
    defaults: "manual_{{ now() | dateFormat('yyyyMMddHHmmss') }}"
  - id: source
    type: STRING
    defaults: "manual"
  - id: project
    type: STRING
    defaults: "test/project"
  - id: raw_update
    type: STRING
    defaults: "Manual trigger execution"
  - id: author
    type: STRING
    defaults: "User"
  - id: goal
    type: STRING
    defaults: "general_update"
  - id: dry_run
    type: STRING
    defaults: "true"
  - id: github_username
    type: STRING
    defaults: ""
  - id: github_token
    type: STRING
    defaults: ""
  - id: selected_repo_json
    type: STRING
    defaults: "{}"
  - id: selected_commit_json
    type: STRING
    defaults: "{}"
  - id: selected_pr_json
    type: STRING
    defaults: "{}"
  - id: github_context_json
    type: STRING
    defaults: "{}"
  - id: style_analysis_json
    type: STRING
    defaults: "{}"
  - id: generated_posts_json
    type: STRING
    defaults: "{}"
  - id: ai_generation_json
    type: STRING
    defaults: "{}"
  - id: use_style_profile
    type: STRING
    defaults: "false"
  - id: delivery_webhook_url
    type: STRING
    defaults: ""
  - id: input_source
    type: STRING
    defaults: "github_commit"

tasks:
  - id: execution_started
    type: io.kestra.plugin.core.log.Log
    message: "AutoPR run {{ inputs.run_id }} started for {{ inputs.project }} from {{ inputs.input_source }}."

  - id: plugin_import_github_repo
    type: io.kestra.plugin.core.http.Request
    uri: "https://api.github.com/repos/{{ inputs.project }}"
    method: GET
    headers:
      Accept: "application/vnd.github+json"
      X-GitHub-Api-Version: "2022-11-28"
      User-Agent: "AutoPR-Engine-Kestra"
    options:
      readTimeout: PT20S
      connectTimeout: PT10S
      logLevel: INFO
    retry:
      type: constant
      maxAttempt: 3
      interval: PT3S

  - id: plugin_import_latest_commits
    type: io.kestra.plugin.core.http.Request
    uri: "https://api.github.com/repos/{{ inputs.project }}/commits?per_page=5"
    method: GET
    headers:
      Accept: "application/vnd.github+json"
      X-GitHub-Api-Version: "2022-11-28"
      User-Agent: "AutoPR-Engine-Kestra"
    options:
      readTimeout: PT20S
      connectTimeout: PT10S
      logLevel: INFO
    retry:
      type: constant
      maxAttempt: 3
      interval: PT3S

  - id: log_plugin_import
    type: io.kestra.plugin.core.log.Log
    message: "Kestra HTTP plugin imported selected GitHub repo and latest commits for {{ inputs.project }}."

  - id: validate_input
    type: io.kestra.plugin.core.flow.Subflow
    namespace: system.autopr
    flowId: validate_input
    inputs:
      run_id: "{{ inputs.run_id }}"
      source: "{{ inputs.source }}"
      project: "{{ inputs.project }}"
      raw_update: "{{ inputs.raw_update }}"
      author: "{{ inputs.author }}"
      goal: "{{ inputs.goal }}"
      dry_run: "{{ inputs.dry_run }}"
      github_username: "{{ inputs.github_username }}"
      github_token: "{{ inputs.github_token }}"
      selected_repo_json: "{{ inputs.selected_repo_json }}"
      selected_commit_json: "{{ inputs.selected_commit_json }}"
      selected_pr_json: "{{ inputs.selected_pr_json }}"
      github_context_json: "{{ inputs.github_context_json }}"
      style_analysis_json: "{{ inputs.style_analysis_json }}"
      use_style_profile: "{{ inputs.use_style_profile }}"
      delivery_webhook_url: "{{ inputs.delivery_webhook_url }}"
      input_source: "{{ inputs.input_source }}"
    wait: true
    retry:
      type: constant
      maxAttempt: 3
      interval: PT2S

  - id: extract_context
    type: io.kestra.plugin.core.flow.Subflow
    namespace: system.autopr
    flowId: extract_context
    inputs:
      run_id: "{{ inputs.run_id }}"
      source: "{{ inputs.source }}"
      project: "{{ inputs.project }}"
      raw_update: "{{ inputs.raw_update }}"
      author: "{{ inputs.author }}"
      github_username: "{{ inputs.github_username }}"
      github_token: "{{ inputs.github_token }}"
      selected_repo_json: "{{ inputs.selected_repo_json }}"
      selected_commit_json: "{{ inputs.selected_commit_json }}"
      selected_pr_json: "{{ inputs.selected_pr_json }}"
      github_context_json: "{{ inputs.github_context_json }}"
      input_source: "{{ inputs.input_source }}"
    wait: true
    retry:
      type: constant
      maxAttempt: 3
      interval: PT2S

  - id: github_plugin_enrichment
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.github_token != '' }}"
    then:
      - id: audit_repo_with_github_plugin
        type: io.kestra.plugin.github.repositories.Search
        oauthToken: "{{ inputs.github_token }}"
        repository: "{{ inputs.project }}"
        sort: UPDATED
        order: DESC
        retry:
          type: constant
          maxAttempt: 3
          interval: PT3S
      - id: log_github_plugin_enrichment
        type: io.kestra.plugin.core.log.Log
        message: "GitHub plugin enrichment completed for {{ inputs.project }}."
    else:
      - id: log_github_plugin_skipped
        type: io.kestra.plugin.core.log.Log
        message: "GitHub plugin enrichment skipped because no token was provided; backend public GitHub context will be used."

  - id: analyze
    type: io.kestra.plugin.core.flow.Subflow
    namespace: system.autopr
    flowId: analyze_input
    inputs:
      raw_update: "{{ inputs.raw_update }}"
      github_context_json: "{{ outputs.extract_context.outputs.github_context }}"
      style_profile_json: "{{ inputs.style_analysis_json }}"
    wait: true
    retry:
      type: constant
      maxAttempt: 3
      interval: PT2S

  - id: analyze_style
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.style_analysis_json != '{}' }}"
    then:
      - id: analyze_linkedin_style
        type: io.kestra.plugin.core.flow.Subflow
        namespace: system.autopr
        flowId: analyze_linkedin_style
        inputs:
          style_samples_json: "{{ inputs.style_analysis_json }}"
        wait: true
        retry:
          type: constant
          maxAttempt: 3
          interval: PT2S
    else:
      - id: skip_style_analysis
        type: io.kestra.plugin.core.log.Log
        message: "No LinkedIn style samples were provided. Generation will use the default style profile."

  - id: generate
    type: io.kestra.plugin.core.flow.Subflow
    namespace: system.autopr
    flowId: generate_posts
    inputs:
      raw_update: "{{ inputs.raw_update }}"
      analysis_json: "{{ outputs.analyze.outputs.analysis }}"
      github_context_json: "{{ outputs.extract_context.outputs.github_context }}"
      style_profile_json: "{{ outputs.analyze_linkedin_style.outputs.style_profile | default(inputs.style_analysis_json) }}"
      pre_generated_posts_json: "{{ inputs.generated_posts_json }}"
    wait: true
    retry:
      type: constant
      maxAttempt: 3
      interval: PT2S
    
  - id: route
    type: io.kestra.plugin.core.flow.Subflow
    namespace: system.autopr
    flowId: route_distribution
    inputs:
      analysis_json: "{{ outputs.analyze.outputs.analysis }}"
      style_profile_json: "{{ outputs.analyze_linkedin_style.outputs.style_profile | default(inputs.style_analysis_json) }}"
      goal: "{{ inputs.goal }}"
      source: "{{ inputs.source }}"
    wait: true
    retry:
      type: constant
      maxAttempt: 3
      interval: PT2S

  - id: check_review
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.route.outputs.requires_review == 'true' }}"
    then:
      - id: log_review_needed
        type: io.kestra.plugin.core.log.Log
        message: "Confidence is low. Manual review required. Skipping automatic delivery."
    else:
      - id: deliver_platforms
        type: io.kestra.plugin.core.flow.ForEach
        values: "{{ outputs.route.outputs.selected_platforms }}"
        concurrencyLimit: 0
        tasks:
          - id: deliver_platform_item
            type: io.kestra.plugin.core.flow.Subflow
            namespace: system.autopr
            flowId: deliver_content
            inputs:
              run_id: "{{ inputs.run_id }}"
              platform: "{{ taskrun.value }}"
              content: "{% if taskrun.value == 'linkedin' %}{{ outputs.generate.outputs.linkedin }}{% elseif taskrun.value == 'x' %}{{ outputs.generate.outputs.x }}{% elseif taskrun.value == 'instagram' %}{{ outputs.generate.outputs.instagram }}{% elseif taskrun.value == 'whatsapp_dm' %}{{ outputs.generate.outputs.whatsapp_dm }}{% else %}Unknown{% endif %}"
              dry_run: "{{ inputs.dry_run }}"
              delivery_webhook_url: "{{ inputs.delivery_webhook_url }}"
              routing_decision_json: "{{ outputs.route.outputs.routing_decision }}"
              github_context_json: "{{ outputs.extract_context.outputs.github_context }}"
              analysis_json: "{{ outputs.analyze.outputs.analysis }}"
              style_profile_json: "{{ outputs.analyze_linkedin_style.outputs.style_profile | default(inputs.style_analysis_json) }}"
            wait: true
            retry:
              type: constant
              maxAttempt: 3
              interval: PT3S

  - id: finalize
    type: io.kestra.plugin.core.flow.Subflow
    namespace: system.autopr
    flowId: finalize_output
    inputs:
      run_id: "{{ inputs.run_id }}"
      source: "{{ inputs.source }}"
      input_source: "{{ inputs.input_source }}"
      project: "{{ inputs.project }}"
      author: "{{ inputs.author }}"
      dry_run: "{{ inputs.dry_run }}"
      github_context_json: "{{ outputs.extract_context.outputs.github_context }}"
      analysis_json: "{{ outputs.analyze.outputs.analysis }}"
      style_profile_json: "{{ outputs.analyze_linkedin_style.outputs.style_profile | default(inputs.style_analysis_json) }}"
      generated_posts_json: "{{ outputs.generate.outputs.generated_posts }}"
      ai_generation_json: "{{ outputs.generate.outputs.ai_generation | default(inputs.ai_generation_json) }}"
      routing_decision_json: "{{ outputs.route.outputs.routing_decision }}"
      delivery_status_json: "{}"
      logs_json: "[]"
      errors_json: "[]"
      kestra_execution_id: "{{ execution.id }}"
    wait: true
    retry:
      type: constant
      maxAttempt: 3
      interval: PT2S

  - id: execution_completed
    type: io.kestra.plugin.core.log.Log
    message: "AutoPR run {{ inputs.run_id }} finalized for {{ inputs.project }}. Open execution {{ execution.id }} for logs and topology."

errors:
  - id: catch_all
    type: io.kestra.plugin.core.log.Log
    message: "Flow failed for {{ inputs.run_id }}. Alerting admin and preserving the failure snapshot."
