flows/subflows/deliver_content.yml
id: deliver_content
namespace: system.autopr
description: "Persists generated content locally and, in live mode, optionally dispatches it to a webhook adapter."

inputs:
  - id: run_id
    type: STRING
    required: true
  - id: platform
    type: STRING
    required: true
  - id: content
    type: STRING
    required: true
  - id: dry_run
    type: STRING
    defaults: "true"
  - id: delivery_webhook_url
    type: STRING
    defaults: ""
  - id: routing_decision_json
    type: STRING
    defaults: "{}"
  - id: github_context_json
    type: STRING
    defaults: "{}"
  - id: analysis_json
    type: STRING
    defaults: "{}"
  - id: style_profile_json
    type: STRING
    defaults: "{}"

outputs:
  - id: delivery_record
    type: JSON
    value: "{{ outputs.deliver_task.vars.delivery_record }}"
  - id: delivery_summary
    type: JSON
    value: "{{ outputs.deliver_task.vars.delivery_summary }}"
  - id: delivery_logs
    type: JSON
    value: "{{ outputs.deliver_task.vars.delivery_logs }}"
  - id: adapter_payload
    type: JSON
    value: "{{ outputs.deliver_task.vars.adapter_payload }}"

tasks:
  - id: deliver_task
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    warningOnStdErr: false
    script: |
      import json
      import os
      from datetime import datetime

      def parse_json(value, fallback):
          try:
              parsed = json.loads(value)
              if isinstance(parsed, str):
                  try:
                      return json.loads(parsed)
                  except Exception:
                      return parsed
              return parsed
          except Exception:
              return fallback

      run_id = r'''{{ inputs.run_id }}'''
      platform = r'''{{ inputs.platform }}'''
      content = r'''{{ inputs.content }}'''
      dry_run = r'''{{ inputs.dry_run }}'''.lower() == "true"
      delivery_webhook_url = r'''{{ inputs.delivery_webhook_url }}'''.strip()
      routing_decision = parse_json(r'''{{ inputs.routing_decision_json }}''', {})
      github_context = parse_json(r'''{{ inputs.github_context_json }}''', {})
      analysis = parse_json(r'''{{ inputs.analysis_json }}''', {})
      style_profile = parse_json(r'''{{ inputs.style_profile_json }}''', {})

      posts_dir = "/data/posts"
      os.makedirs(posts_dir, exist_ok=True)
      file_path = os.path.join(posts_dir, f"{run_id}_{platform}.json")

      if dry_run:
          status = "dry_run_saved"
      elif delivery_webhook_url:
          status = "live_adapter_ready"
      else:
          status = "missing_adapter_credentials"

      adapter_payload = {
          "run_id": run_id,
          "platform": platform,
          "content": content,
          "dry_run": dry_run,
          "routing_decision": routing_decision,
          "github_context": github_context,
          "analysis": analysis,
          "style_profile": style_profile,
      }

      payload = {
          "run_id": run_id,
          "platform": platform,
          "content": content,
          "timestamp": datetime.utcnow().isoformat(),
          "status": status,
          "dry_run": dry_run,
          "delivery_webhook_url": delivery_webhook_url,
          "routing_decision": routing_decision,
          "github_context": github_context,
          "analysis": analysis,
          "style_profile": style_profile,
          "adapter_response": None,
      }

      with open(file_path, "w") as handle:
          json.dump(payload, handle, indent=2)

      delivery_record = {
          "platform": platform,
          "status": status,
          "saved_path": file_path,
          "dry_run": dry_run,
          "adapter_response": None,
      }
      delivery_summary = {platform: status}
      delivery_logs = [f"{platform}:{status}", f"saved:{file_path}"]

      print('::{"outputs": {"delivery_record": ' + json.dumps(json.dumps(delivery_record)) + ', "delivery_summary": ' + json.dumps(json.dumps(delivery_summary)) + ', "delivery_logs": ' + json.dumps(json.dumps(delivery_logs)) + ', "adapter_payload": ' + json.dumps(json.dumps(adapter_payload)) + '}}::')

  - id: maybe_dispatch_live_adapter
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.dry_run == 'false' and inputs.delivery_webhook_url != '' }}"
    then:
      - id: dispatch_live_adapter
        type: io.kestra.plugin.core.http.Request
        uri: "{{ inputs.delivery_webhook_url }}"
        method: POST
        contentType: application/json
        body: "{{ outputs.deliver_task.vars.adapter_payload }}"
        options:
          readTimeout: PT20S
          connectTimeout: PT10S
          logLevel: INFO
        retry:
          type: constant
          maxAttempt: 3
          interval: PT5S
      - id: log_live_adapter_sent
        type: io.kestra.plugin.core.log.Log
        message: "Live adapter accepted {{ inputs.platform }} for {{ inputs.run_id }} with HTTP {{ outputs.dispatch_live_adapter.code }}."
    else:
      - id: log_delivery_saved
        type: io.kestra.plugin.core.log.Log
        message: "{{ inputs.platform }} delivery persisted as {{ outputs.deliver_task.vars.delivery_summary }}."
