flows/subflows/generate_posts.yml
id: generate_posts
namespace: system.autopr
description: "Generates platform-specific posts in parallel using the analyzed GitHub context and optional style profile."

inputs:
  - id: raw_update
    type: STRING
    required: true
  - id: analysis_json
    type: STRING
    required: true
  - id: github_context_json
    type: STRING
    defaults: "{}"
  - id: style_profile_json
    type: STRING
    defaults: "{}"

outputs:
  - id: generated_posts
    type: JSON
    value: |
      {
        "linkedin": {{ outputs.gen_linkedin.vars.content | json }},
        "x": {{ outputs.gen_x.vars.content | json }},
        "instagram": {{ outputs.gen_instagram.vars.content | json }},
        "whatsapp_dm": {{ outputs.gen_whatsapp_dm.vars.content | json }}
      }
  - id: linkedin
    type: STRING
    value: "{{ outputs.gen_linkedin.vars.content }}"
  - id: x
    type: STRING
    value: "{{ outputs.gen_x.vars.content }}"
  - id: instagram
    type: STRING
    value: "{{ outputs.gen_instagram.vars.content }}"
  - id: whatsapp_dm
    type: STRING
    value: "{{ outputs.gen_whatsapp_dm.vars.content }}"

tasks:
  - id: parallel_generation
    type: io.kestra.plugin.core.flow.Parallel
    tasks:
      - id: gen_linkedin
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        warningOnStdErr: false
        script: |
          import json

          def parse_json(value, fallback):
              try:
                  parsed = json.loads(value)
                  if isinstance(parsed, str):
                      try:
                          return json.loads(parsed)
                      except Exception:
                          return parsed
                  return parsed
              except Exception:
                  return fallback

          raw = r'''{{ inputs.raw_update }}'''.strip()
          analysis = parse_json(r'''{{ inputs.analysis_json }}''', {})
          style = parse_json(r'''{{ inputs.style_profile_json }}''', {})
          github_context = parse_json(r'''{{ inputs.github_context_json }}''', {})
          hook = style.get("hook_line") or f"Shipping a meaningful update: {raw}"
          keywords = analysis.get("keywords", [])
          hashtag_suffix = " ".join(f"#{keyword.replace('-', '').title()}" for keyword in keywords[:3]) or "#BuildInPublic #Automation #Kestra"
          content = (
              f"{hook}\n\n"
              f"We now have a full orchestration path from {github_context.get('full_name', 'GitHub')} to content generation, platform routing, and delivery visibility.\n\n"
              f"This release is designed for builders who care about traceability, distribution, and repeatable workflows.\n\n"
              f"{hashtag_suffix}"
          )
          print('::{"outputs": {"content": ' + json.dumps(content) + '}}::')

      - id: gen_x
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        warningOnStdErr: false
        script: |
          import json

          def parse_json(value, fallback):
              try:
                  parsed = json.loads(value)
                  if isinstance(parsed, str):
                      try:
                          return json.loads(parsed)
                      except Exception:
                          return parsed
                  return parsed
              except Exception:
                  return fallback

          raw = r'''{{ inputs.raw_update }}'''.strip()
          analysis = parse_json(r'''{{ inputs.analysis_json }}''', {})
          content = f"{raw} -> routed by Kestra, summarized by the AutoPR Engine. {analysis.get('summary', 'Traceable delivery pipeline live.')} #BuildInPublic #Automation"
          print('::{"outputs": {"content": ' + json.dumps(content[:280]) + '}}::')

      - id: gen_instagram
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        warningOnStdErr: false
        script: |
          import json

          def parse_json(value, fallback):
              try:
                  parsed = json.loads(value)
                  if isinstance(parsed, str):
                      try:
                          return json.loads(parsed)
                      except Exception:
                          return parsed
                  return parsed
              except Exception:
                  return fallback

          raw = r'''{{ inputs.raw_update }}'''.strip()
          style = parse_json(r'''{{ inputs.style_profile_json }}''', {})
          content = (
              f"Behind the scenes update: {raw}.\n\n"
              f"We are turning repo activity into a visual, traceable content workflow.\n\n"
              f"{style.get('summary', 'Built for teams shipping in public.')}"
          )
          print('::{"outputs": {"content": ' + json.dumps(content) + '}}::')

      - id: gen_whatsapp_dm
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        warningOnStdErr: false
        script: |
          import json

          def parse_json(value, fallback):
              try:
                  parsed = json.loads(value)
                  if isinstance(parsed, str):
                      try:
                          return json.loads(parsed)
                      except Exception:
                          return parsed
                  return parsed
              except Exception:
                  return fallback

          raw = r'''{{ inputs.raw_update }}'''.strip()
          github_context = parse_json(r'''{{ inputs.github_context_json }}''', {})
          content = f"Quick update: {raw}. The pipeline now traces from {github_context.get('full_name', 'GitHub')} through generation and delivery."
          print('::{"outputs": {"content": ' + json.dumps(content) + '}}::')
